@using Microsoft.AspNetCore.Html
@model HealthyLife.Models.UserWish

@{
    ViewData["Title"] = "Видалення бажання";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container mt-3">
    <div class="text-center">
        <h1>Видалення із списку бажань</h1>
        <h3>Ви впевнені, що хочете видалити цей курс із списку бажань?</h3>
    </div>    
    <hr />
    <div>        
        <div class="list-divv" style="margin-top: 20px">
            <div style="height: auto; width: 100%; padding: 0; margin: 0 auto; position: sticky" class="product-card-list row">
                @if (Model.Course.Price > 1500)
                {
                    <a style="background-color: #F7A121;
                                            height: 36px; width: 37px; border-bottom-right-radius: 20px;
                                            position: absolute; border-top-left-radius: 20px; padding: 20px" asp-controller="Courses"
                   asp-action="Details" asp-route-id="@Model.Course.Id">
                        <img src="~/img/icons/I.png" width="20px" height="20px"
                         style="position: absolute; left: 10px; top: 10px" />
                    </a>
                }
                else if (Model.Course.Price.Equals(0))
                {
                    <a style="background-color: #1A9F83;
                                            height: 36px; width: 37px; border-bottom-right-radius: 20px;
                                            position: absolute; border-top-left-radius: 20px; padding: 20px" asp-controller="Courses"
                   asp-action="Details" asp-route-id="@Model.Course.Id">
                        <img src="~/img/icons/I.png" width="20px" height="20px"
                         style="position: absolute; left: 10px; top: 10px" />
                    </a>
                }
                else
                {
                    <a style="background-color: #F47C50;
                                            height: 36px; width: 37px; border-bottom-right-radius: 20px;
                                            position: absolute; border-top-left-radius: 20px; padding: 20px" asp-controller="Courses"
                   asp-action="Details" asp-route-id="@Model.Course.Id">
                        <img src="~/img/icons/I.png" width="20px" height="20px"
                         style="position: absolute; left: 10px; top: 10px" />
                    </a>
                }
                @if (Model.Course.Price > 1500)
                {
                    <a style="background-color: #F7A121; position: absolute;
                    height: 36px; width: 112px; border-bottom-left-radius: 20px;
                    border-top-right-radius: 20px; padding: 20px; top: 0; right: 0;
                    text-decoration:none" asp-controller="Courses" asp-action="Details" asp-route-id="@Model.Course.Id">
                        <h3 style="position: absolute; left: 30%; top: 5px; color: #FFFFFF">
                            @{
                                var price = Convert.ToInt16(Model.Course.Price).ToString();
                            }
                            @price ₴
                        </h3>
                    </a>

                }
                else if (Model.Course.Price.Equals(0))
                {
                    <a style="background-color: #1A9F83; position: absolute;
                    height: 36px; width: 112px; border-bottom-left-radius: 20px;
                    border-top-right-radius: 20px; padding: 20px; top: 0; right: 0;
                    text-decoration:none" asp-controller="Courses" asp-action="Details" asp-route-id="@Model.Course.Id">
                        <h3 style="position: absolute; left: 25%; top: 5px; color: #FFFFFF">ДАРОМ</h3>
                    </a>
                }
                else
                {
                    <a style="background-color: #F47C50; position: absolute;
                    height: 36px; width: 112px; border-bottom-left-radius: 20px;
                    border-top-right-radius: 20px; padding: 20px; top: 0; right: 0;
                    text-decoration:none" asp-controller="Courses" asp-action="Details" asp-route-id="@Model.Course.Id">
                        <h3 style="position: absolute; left: 28%; top: 5px; color: #FFFFFF">
                            @{
                                var price = Convert.ToInt16(Model.Course.Price).ToString();
                            }
                            @price ₴
                        </h3>
                    </a>
                }

                @if (Model.Course.Price > 1500)
                {
                    <a style="background-color: #F7A121; position: absolute;
                    height: 36px; width: 112px; border-bottom-right-radius: 20px;
                    border-top-left-radius: 20px; padding: 20px; bottom: 0; right: 0;
                    text-decoration:none; margin-top: -39px" asp-controller="Courses" asp-action="Details" asp-route-id="@Model.Course.Id">
                        <h3 style="position: absolute; left: 10%; top: 5px; color: #FFFFFF;
                    font-weight:400; font-size: 25px">
                            детальніше
                        </h3>
                    </a>
                }
                else if (Model.Course.Price.Equals(0))
                {
                    <a style="background-color: #1A9F83; position: absolute;
                    height: 36px; width: 112px; border-bottom-right-radius: 20px;
                    border-top-left-radius: 20px; padding: 20px; bottom: 0; right: 0;
                    text-decoration:none; margin-top: -39px" asp-controller="Courses" asp-action="Details" asp-route-id="@Model.Course.Id">
                        <h3 style="position: absolute; left: 10%; top: 5px; color: #FFFFFF;
                    font-weight:400; font-size: 25px">
                            детальніше
                        </h3>
                    </a>
                }
                else if (Model.Course.Price > 0)
                {
                    <a style="background-color: #F47C50; position: absolute;
                    height: 36px; width: 112px; border-bottom-right-radius: 20px;
                    border-top-left-radius: 20px; padding: 20px; bottom: 0; right: 0;
                    text-decoration:none; margin-top: -39px" asp-controller="Courses" asp-action="Details" asp-route-id="@Model.Course.Id">
                        <h3 style="position: absolute; left: 10%; top: 5px; color: #FFFFFF;
                    font-weight:400; font-size: 25px">
                            детальніше
                        </h3>
                    </a>
                }
                <div class="col-4 img-content" style="margin: 0; padding: 0">
                    <img class="course-img" style="border-radius: 20px; width: 100%; height: 100%;" src="~/img/img_courses/@Model.Course.PathToPhoto" />
                </div>
                <div class="col-8 pb-5 course-content" style="display: block; margin: 0; margin-top: 4.5%">
                    <div class="row">
                        <div class="col-md-12" style="position: sticky">
                            <h4 style="font-weight: 500; font-size: 35px; margin-left: 5%; color: #2C3477">
                                @{
                                    HtmlString str = new HtmlString(Model.Course.CourseDescriptionShort.Replace("<br>", ""));
                                    @str
                                }
                            </h4>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-4" style="position: sticky; text-align: justify; margin-left: 5%">
                                <div style="display: flex; margin-top: 3%;">
                                    @if (Model.Course.Rating >= 0 && Model.Course.Rating < 0.5)
                                    {
                                        <img src="~/img/icons/rate.png" style="width: 16px; height: 19px;" />
                                        <img src="~/img/icons/rate.png" style="width: 16px; height: 19px; margin-left: 1%" />
                                        <img src="~/img/icons/rate.png" style="width: 16px; height: 19px; margin-left: 1%" />
                                        <img src="~/img/icons/rate.png" style="width: 16px; height: 19px; margin-left: 1%" />
                                        <img src="~/img/icons/rate.png" style="width: 16px; height: 19px; margin-left: 1%" />
                                    }
                                    @if (Model.Course.Rating >= 0.5 && Model.Course.Rating < 1.5)
                                    {
                                        <img src="~/img/icons/rate-orange.png" style="width: 16px; height: 19px;" />
                                        <img src="~/img/icons/rate.png" style="width: 16px; height: 19px; margin-left: 1%" />
                                        <img src="~/img/icons/rate.png" style="width: 16px; height: 19px; margin-left: 1%" />
                                        <img src="~/img/icons/rate.png" style="width: 16px; height: 19px; margin-left: 1%" />
                                        <img src="~/img/icons/rate.png" style="width: 16px; height: 19px; margin-left: 1%" />
                                    }
                                    @if (Model.Course.Rating >= 1.5 && Model.Course.Rating < 2.5)
                                    {
                                        <img src="~/img/icons/rate-orange.png" style="width: 16px; height: 19px;" />
                                        <img src="~/img/icons/rate-orange.png" style="width: 16px; height: 19px; margin-left: 1%" />
                                        <img src="~/img/icons/rate.png" style="width: 16px; height: 19px; margin-left: 1%" />
                                        <img src="~/img/icons/rate.png" style="width: 16px; height: 19px; margin-left: 1%" />
                                        <img src="~/img/icons/rate.png" style="width: 16px; height: 19px; margin-left: 1%" />
                                    }
                                    @if (Model.Course.Rating >= 2.5 && Model.Course.Rating < 3.5)
                                    {
                                        <img src="~/img/icons/rate-orange.png" style="width: 16px; height: 19px;" />
                                        <img src="~/img/icons/rate-orange.png" style="width: 16px; height: 19px; margin-left: 1%" />
                                        <img src="~/img/icons/rate-orange.png" style="width: 16px; height: 19px; margin-left: 1%" />
                                        <img src="~/img/icons/rate.png" style="width: 16px; height: 19px; margin-left: 1%" />
                                        <img src="~/img/icons/rate.png" style="width: 16px; height: 19px; margin-left: 1%" />
                                    }
                                    @if (Model.Course.Rating >= 3.5 && Model.Course.Rating < 4.5)
                                    {
                                        <img src="~/img/icons/rate-orange.png" style="width: 16px; height: 19px;" />
                                        <img src="~/img/icons/rate-orange.png" style="width: 16px; height: 19px; margin-left: 1%" />
                                        <img src="~/img/icons/rate-orange.png" style="width: 16px; height: 19px; margin-left: 1%" />
                                        <img src="~/img/icons/rate-orange.png" style="width: 16px; height: 19px; margin-left: 1%" />
                                        <img src="~/img/icons/rate.png" style="width: 16px; height: 19px; margin-left: 1%" />
                                    }
                                    @if (Model.Course.Rating >= 4.5 && Model.Course.Rating <= 5)
                                    {
                                        <img src="~/img/icons/rate-orange.png" style="width: 16px; height: 19px;" />
                                        <img src="~/img/icons/rate-orange.png" style="width: 16px; height: 19px; margin-left: 1%" />
                                        <img src="~/img/icons/rate-orange.png" style="width: 16px; height: 19px; margin-left: 1%" />
                                        <img src="~/img/icons/rate-orange.png" style="width: 16px; height: 19px; margin-left: 1%" />
                                        <img src="~/img/icons/rate-orange.png" style="width: 16px; height: 19px; margin-left: 1%" />
                                    }
                                    <h5 style="font-weight: 400; font-size: 17px; margin-left: 7%; color: #F47C50">
                                        @{
                                            var rating = Math.Round(Model.Course.Rating, 1);
                                            @rating
                                        }
                                        / 5
                                    </h5>
                                </div>
                                <div style="display: flex; margin-top: 4%">
                                    <img src="~/img/icons/timesselected.png" style="width: 21px; height: 21px;" />
                                    <h5 style="font-weight: 400; font-size: 17px; margin-left: 3%; color: #808080">
                                        @{
                                            var timesSelected = Convert.ToInt32(Model.Course.TimesSelected).ToString();
                                            @timesSelected
                                        }
                                    </h5>
                                    <img src="~/img/icons/likednumber.png" style="width: 19px; height: 19px; margin-left: 20%" />
                                    <h5 style="font-weight: 400; font-size: 17px; margin-left: 3%; color: #808080">
                                        @{
                                            var likedNumber = Convert.ToInt32(Model.Course.LikedNumber).ToString();
                                            @likedNumber
                                        }
                                    </h5>
                                </div>
                                <div style="display: flex; margin-top: 1%; margin-bottom: 1%">
                                    <img src="~/img/icons/duration.png" style="width: 19px; height: 19px;" />
                                    <h5 style="font-weight: 400; font-size: 17px; margin-left: 3%; color: #808080">
                                        @{
                                            HtmlString duration = new HtmlString(Model.Course.Duration);
                                            @duration
                                        }
                                    </h5>
                                </div>
                                <h6 style="font-weight: 400; font-size: 16px; color: #2C3477">
                                    АВТОР КУРСУ/СПІКЕР:<br>
                                    @{
                                        HtmlString author = new HtmlString(Model.Course.Aurhor.AuthorName);
                                        @author
                                    }
                                </h6>                                
                            </div>
                            <div class="col-md-7" class="description-content" style="position: relative;  text-align: justify; border-left: 1px solid #808080; height: auto">
                                <h4 style="font-weight: 400; font-size:23px; margin-left: 5%; color: #2C3477">
                                    @{
                                        HtmlString str3 = new HtmlString(Model.Course.CourseDescription);
                                        @str3
                                    }
                                </h4>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <form asp-action="Delete" style="margin: 20px 0px; text-align: center">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Видалити" style="padding: 10px; font-size: 25px;" class="btn btn-danger" /> |
            <a asp-action="Index" style="padding: 10px; font-size: 25px;" class="btn btn-primary">До списку бажань</a>
        </form>
    </div>
</div>
<div style="width: 100%; height: 50px; margin-bottom: auto; margin-top: 35px; background: rgb(205,112,121);
     background: linear-gradient(90deg, rgba(205,112,121,1) 0%, rgba(200,140,140,1) 100%, rgba(200,140,140,1) 100%);">
</div>