@model IEnumerable<HealthyLife.Models.Course>
@using Microsoft.AspNetCore.Html;

@{
    ViewData["Title"] = "Топ-20";
}
<div style="width: 100%; height: 164px; background: rgb(44,52,71);
            background: linear-gradient(90deg, rgba(44,52,71,1) 0%, rgba(26,159,131,1) 100%, rgba(26,159,131,1) 100%);">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <img src="~/img/icons/logo_catalog.png" width="192px" height="164px" />
            </div>
            <div class="col-md-10" style="display:flex; align-items:center; justify-content: center;">
                <h3 style="font-weight: 500;font-size: calc((100vw - 320px)/(1920 - 320) * (45 - 30) + 30px);color: #FFFFFF;line-height: calc((100vw - 320px)/(1920 - 320) * (45 - 33) + 33px); text-align: center;">
                    Вмирає лише кволе і слабке, здорове і сильне завжди виходить переможцем.<br /> (Ч.Дарвін)
                </h3>
                <h4 style="font-style: normal;font-weight: 500;font-size: calc((100vw - 320px)/(1920 - 320) * (30 - 22) + 22px); line-height: calc((100vw - 320px)/(1920 - 320) * (30 - 18) + 18px);color: #FFFFFF; text-align: center">
                    Ніщо так не виснажує і не руйнує людину, як тривала фізична бездіяльність.<br /> (Арістотель)
                </h4>
            </div>            
        </div>
    </div>
</div>
<div style="width: 100%; height: 130px; background: rgb(198,62,62);
         background: linear-gradient(90deg, rgba(198,62,62,1) 0%, rgba(244,124,80,1) 54%, rgba(244,124,80,1) 100%);">
    <div class="container">
        <div class="row">
            <div class="col-md-10" style="text-align: right; display:flex; align-items:center; justify-content: center; padding: 5px 5px 5px 0">
                <h3 style="font-weight: 500;font-size: calc((100vw - 480px)/(1920 - 480) * (37 - 27) + 27px);line-height: calc((100vw - 480px)/(1920 - 480) * (37 - 25) + 25px);text-align: center;color: #FFFFFF;">
                    Якщо в тебе все в нормі зі шлунком, грудьми, ногами, жодні царські скарби не зможуть нічого додати. <br /> (Горацій)
                </h3>
                <h4 style="font-style: normal;font-weight: 500;font-size: calc((100vw - 480px)/(1920 - 480) * (25 - 15) + 15px);line-height: calc((100vw - 480px)/(1920 - 480) * (25 - 13) + 13px); margin-left: 10%; text-align: center;color: #FFFFFF;">
                    Щоб зберегти бадьорість духу, потрібно підтримувати бадьорість тіла.<br /> (Л.Вовенарг)
                </h4>
            </div>
            <div class="col-md-2">
                <img src="~/img/icons/logo_catalog1.png" width="112px" height="130px" style="float: right;" />
            </div>
        </div>
    </div>
</div>
<div class="container" style="min-height: 100vh">
    <div style="width: 100%; display:flex; align-items:center; justify-content: center; margin-top: 36px; margin-bottom: 40px">
        <img src="~/img/icons/rate-top.jpg" width="40.47px" height="66.85px" style="margin-right: 10px; margin-bottom: 20px; text-align: center" />
        <h3 style="font-weight:400; font-size: 65px; color: #2C3447; text-align: center">ТОП-<span style="font-size: 73px">20</span> КУРСІВ</h3>
        <img src="~/img/icons/rate-top.jpg" width="40.47px" height="66.85px" style="margin-left: 10px; margin-bottom: 20px; text-align: center; transform: scaleX(-1);" />
    </div>
    @{int k=0;}
    <div style="width: 100%; display: block; margin-top: 0px; margin-bottom: 30px;">
        @foreach(var course in Model)
        {
            k++;
            if (k == 21) break;
            <div class="row" style="width: 100%; display: flex; margin-bottom: 20px;">
                <div class="col-md-4">
                    <img class="course-image" style="border-radius: 10px; width: 100%; height: 245px" src="~/img/img_courses/@course.PathToPhoto" />
                </div>
                <div class="col-md-8" style="display: flex; justify-content: center; flex-direction: column; align-items: stretch; align-content: center">
                    @if (k == 1) {
                        <h2 style="margin-left: 2%; font-weight: 500; text-shadow: 1px 0px 1px gray, 0px 1px 1px gray, 2px 1px 1px gray, 1px 2px 1px gray, 3px 2px 1px gray"><span style="color: gold; text-shadow: 1px 0px 1px orange, 0px 1px 1px orange, 2px 1px 1px orange, 1px 2px 1px orange, 3px 2px 1px orange, 2px 3px 1px orange, 4px 3px 1px orange">@k місце</span> -  @course.CourseDescriptionShort.Replace("<br>", " ")</h2>
                    }
                    else if (k == 2) {
                        <h2 style="margin-left: 2%; font-weight: 500; text-shadow: 1px 0px 1px gray, 0px 1px 1px gray, 2px 1px 1px gray, 1px 2px 1px gray, 3px 2px 1px gray"><span style="color: silver; text-shadow: 1px 0px 1px DarkSlateGray, 0px 1px 1px DarkSlateGray, 2px 1px 1px DarkSlateGray, 1px 2px 1px DarkSlateGray, 3px 2px 1px DarkSlateGray, 2px 3px 1px DarkSlateGray, 4px 3px 1px DarkSlateGray">@k місце</span> -  @course.CourseDescriptionShort.Replace("<br>", " ")</h2>
                    }
                    else if (k == 3) {
                        <h2 style="margin-left: 2%; font-weight: 500; text-shadow: 1px 0px 1px gray, 0px 1px 1px gray, 2px 1px 1px gray, 1px 2px 1px gray, 3px 2px 1px gray"><span style="color: #cd7f32; text-shadow: 1px 0px 1px SaddleBrown, 0px 1px 1px SaddleBrown, 2px 1px 1px SaddleBrown, 1px 2px 1px SaddleBrown, 3px 2px 1px SaddleBrown, 2px 3px 1px SaddleBrown, 4px 3px 1px SaddleBrown">@k місце</span> -  @course.CourseDescriptionShort.Replace("<br>", " ")</h2>
                    }
                    else {
                        <h2 style="margin-left: 2%; font-weight: 500; text-shadow: 1px 0px 1px gray, 0px 1px 1px gray, 2px 1px 1px gray, 1px 2px 1px gray, 3px 2px 1px gray"><span style="color: Aqua; text-shadow: 1px 0px 1px DodgerBlue, 0px 1px 1px DodgerBlue, 2px 1px 1px DodgerBlue, 1px 2px 1px DodgerBlue, 3px 2px 1px DodgerBlue, 2px 3px 1px DodgerBlue, 4px 3px 1px DodgerBlue">@k місце</span> -  @course.CourseDescriptionShort.Replace("<br>", " ")</h2>
                    }
                    <div style="display: flex; margin-left: 2%">
                        <h3 style="font-weight: 400">Оцінка курсу:</h3>
                        @if (course.Rating >= 0 && course.Rating < 0.5)
                        {
                            <img src="~/img/icons/rate.png" style="width: 20px; height: 30px; margin-left: 2%" />
                            <img src="~/img/icons/rate.png" style="width: 20px; height: 30px; margin-left: 1%" />
                            <img src="~/img/icons/rate.png" style="width: 20px; height: 30px; margin-left: 1%" />
                            <img src="~/img/icons/rate.png" style="width: 20px; height: 30px; margin-left: 1%" />
                            <img src="~/img/icons/rate.png" style="width: 20px; height: 30px; margin-left: 1%" />
                        }
                        @if (course.Rating >= 0.5 && course.Rating < 1.5)
                        {
                            <img src="~/img/icons/rate-orange.png" style="width: 20px; height: 30px; margin-left: 2%" />
                            <img src="~/img/icons/rate.png" style="width: 20px; height: 30px; margin-left: 1%" />
                            <img src="~/img/icons/rate.png" style="width: 20px; height: 30px; margin-left: 1%" />
                            <img src="~/img/icons/rate.png" style="width: 20px; height: 30px; margin-left: 1%" />
                            <img src="~/img/icons/rate.png" style="width: 20px; height: 30px; margin-left: 1%" />
                        }
                        @if (course.Rating >= 1.5 && course.Rating < 2.5)
                        {
                            <img src="~/img/icons/rate-orange.png" style="width: 20px; height: 30px; margin-left: 2%" />
                            <img src="~/img/icons/rate-orange.png" style="width: 20px; height: 30px; margin-left: 1%" />
                            <img src="~/img/icons/rate.png" style="width: 20px; height: 30px; margin-left: 1%" />
                            <img src="~/img/icons/rate.png" style="width: 20px; height: 30px; margin-left: 1%" />
                            <img src="~/img/icons/rate.png" style="width: 20px; height: 30px; margin-left: 1%" />
                        }
                        @if (course.Rating >= 2.5 && course.Rating < 3.5)
                        {
                            <img src="~/img/icons/rate-orange.png" style="width: 20px; height: 30px; margin-left: 2%" />
                            <img src="~/img/icons/rate-orange.png" style="width: 20px; height: 30px; margin-left: 1%" />
                            <img src="~/img/icons/rate-orange.png" style="width: 20px; height: 30px; margin-left: 1%" />
                            <img src="~/img/icons/rate.png" style="width: 20px; height: 30px; margin-left: 1%" />
                            <img src="~/img/icons/rate.png" style="width: 20px; height: 30px; margin-left: 1%" />
                        }
                        @if (course.Rating >= 3.5 && course.Rating < 4.5)
                        {
                            <img src="~/img/icons/rate-orange.png" style="width: 20px; height: 30px; margin-left: 2%" />
                            <img src="~/img/icons/rate-orange.png" style="width: 20px; height: 30px; margin-left: 1%" />
                            <img src="~/img/icons/rate-orange.png" style="width: 20px; height: 30px; margin-left: 1%" />
                            <img src="~/img/icons/rate-orange.png" style="width: 20px; height: 30px; margin-left: 1%" />
                            <img src="~/img/icons/rate.png" style="width: 20px; height: 30px; margin-left: 1%" />
                        }
                        @if (course.Rating >= 4.5 && course.Rating <= 5)
                        {
                            <img src="~/img/icons/rate-orange.png" style="width: 20px; height: 30px; margin-left: 2%" />
                            <img src="~/img/icons/rate-orange.png" style="width: 20px; height: 30px; margin-left: 1%" />
                            <img src="~/img/icons/rate-orange.png" style="width: 20px; height: 30px; margin-left: 1%" />
                            <img src="~/img/icons/rate-orange.png" style="width: 20px; height: 30px; margin-left: 1%" />
                            <img src="~/img/icons/rate-orange.png" style="width: 20px; height: 30px; margin-left: 1%" />
                        }
                        <h3 style="font-weight: 400; margin-left: 2%; color: #F47C50">
                            @{
                                var rating = Math.Round(course.Rating, 1);
                                @rating
                            }
                            / 5
                        </h3>
                    </div>
                    <p style="font-weight: 400; margin-left: 2%; margin-bottom: 7px; text-align: justify">@course.CourseDescription</p>
                    <a class="nav-link text-dark nav-item-bordered" style="width: 200px; height: 50px; font-weight: 400; font-size: 19px; margin-left: 2%" asp-controller="Courses" asp-action="Details" asp-route-id="@course.Id">
                        <h3>ПЕРЕЙТИ ДО КУРСУ</h3>
                    </a>
                </div>                
            </div>
        }
    </div>    
</div>
<div style="width: 100%; height: 50px; margin-bottom: auto; margin-top: 35px; background: rgb(205,112,121);
     background: linear-gradient(90deg, rgba(205,112,121,1) 0%, rgba(200,140,140,1) 100%, rgba(200,140,140,1) 100%);">
</div>
