@model IEnumerable<HealthyLife.Models.Course>
@using Microsoft.AspNetCore.Html;

@{
    ViewData["Title"] = "Топ-20";
}
<div class="mt-3" style="width: 100%; height: auto; background: rgb(44,52,71);
            background: linear-gradient(90deg, rgba(44,52,71,1) 0%, rgba(26,159,131,1) 100%, rgba(26,159,131,1) 100%);">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <img src="~/img/icons/logo_catalog.png" width="100%" height="164px" />
            </div>
            <div class="col-md-8" style="display:flex; align-items: flex-start; justify-content: center; flex-direction: column; text-align: left">
                <h3 style="font-weight: 500;font-size: 50px;color: #FFFFFF;line-height: 50px;">
                    Оформіть підписку ХЕКА+
                </h3><br />
                <h4 style="font-style: normal;font-weight: 500;font-size: 30px; line-height: 30px;color: #FFFFFF;">
                    З нею Вам відкриються нові можливості на шляху до здорового способу життя.
                </h4>
            </div>
            <div class="col-md-2" style="display:flex; align-items:center; justify-content: center; margin: 0; padding: 0">
                <a class="nav-link nav-item-bordered disabled"
                   style="width: 90%; margin: 15px auto; height: auto; padding: 15px; display:flex; align-items:center; justify-content: center;
                        background-color: #FFFFFF; font-weight: 500;font-size: 30px;line-height: 30px;
                        text-align: center;text-transform: uppercase;color: #2C3447"
                   href="#">ХЕКА+</a>
            </div>
        </div>
    </div>
</div>
<div style="width: 100%; height: auto; background: rgb(198,62,62);
         background: linear-gradient(90deg, rgba(198,62,62,1) 0%, rgba(244,124,80,1) 54%, rgba(244,124,80,1) 100%);">
    <div class="container">
        <div class="row">
            <div class="col-md-3" style="display:flex; align-items:center; justify-content: center; margin: 0; padding: 0">
                <a class="nav-link nav-item-bordered disabled"
                   style="width: 90%; margin: 15px auto; height: auto; padding: 15px; display:flex; align-items:center; justify-content: center;
                        background-color: #FFFFFF; font-weight: 500;font-size: 30px;line-height: 30px;
                        text-align: center;text-transform: uppercase;color: #2C3447"
                   href="#">ОБМІНЯТИ СЕРТИФІКАТ</a>
            </div>
            <div class="col-md-7" style="display:block; margin: 20px auto; text-align: left">
                <h3 style="font-weight: 500;font-size: 37px;line-height: 37px;color: #FFFFFF;">
                    Скористайтеся послугою обміну сертифіката
                </h3>
                <h4 style="font-style: normal;font-weight: 500;font-size: 25px;line-height: 25px; color: #FFFFFF;">
                    Ми з розумінням обміняємо Ваш сертифікат у разі виявлення недостовірності курсу наданим характеристикам.
                </h4>
            </div>
            <div class="col-md-2">
                <img src="~/img/icons/logo_catalog1.png" width="100%" height="130px" style="float: right;" />
            </div>
        </div>
    </div>
</div>
<div class="container" style="min-height: 100vh">
    <div style="width: 100%; display:flex; align-items:center; justify-content: center; margin-top: 36px; margin-bottom: 40px">
        <img src="~/img/icons/rate-top.jpg" width="40.47px" height="66.85px" style="margin-right: 10px; margin-bottom: 20px; text-align: center" />
        <h3 style="font-weight:400; font-size: 65px; color: #2C3447; text-align: center">ТОП-<span style="font-size: 73px">20</span> КУРСІВ</h3>
        <img src="~/img/icons/rate-top.jpg" width="40.47px" height="66.85px" style="margin-left: 10px; margin-bottom: 20px; text-align: center; transform: scaleX(-1);" />
    </div>
    @{int k=0;}
    <div style="width: 100%; display: block; margin-top: 0px; margin-bottom: 30px;">
        @foreach(var course in Model)
        {
            k++;
            if (k == 21) break;
            <div class="row" style="width: 100%; display: flex; margin-bottom: 20px;">
                <div class="col-md-4">
                    <img class="course-image" style="border-radius: 10px; width: 100%; height: 245px" src="~/img/img_courses/@course.PathToPhoto" />
                </div>
                <div class="col-md-8" style="display: flex; justify-content: center; flex-direction: column; align-items: stretch; align-content: center">
                    @if (k == 1) {
                        <h2 style="margin-left: 2%; font-weight: 500; text-shadow: 1px 0px 1px gray, 0px 1px 1px gray, 2px 1px 1px gray, 1px 2px 1px gray, 3px 2px 1px gray"><span style="color: gold; text-shadow: 1px 0px 1px orange, 0px 1px 1px orange, 2px 1px 1px orange, 1px 2px 1px orange, 3px 2px 1px orange, 2px 3px 1px orange, 4px 3px 1px orange">@k місце</span> -  @course.CourseDescriptionShort.Replace("<br>", " ")</h2>
                    }
                    else if (k == 2) {
                        <h2 style="margin-left: 2%; font-weight: 500; text-shadow: 1px 0px 1px gray, 0px 1px 1px gray, 2px 1px 1px gray, 1px 2px 1px gray, 3px 2px 1px gray"><span style="color: silver; text-shadow: 1px 0px 1px DarkSlateGray, 0px 1px 1px DarkSlateGray, 2px 1px 1px DarkSlateGray, 1px 2px 1px DarkSlateGray, 3px 2px 1px DarkSlateGray, 2px 3px 1px DarkSlateGray, 4px 3px 1px DarkSlateGray">@k місце</span> -  @course.CourseDescriptionShort.Replace("<br>", " ")</h2>
                    }
                    else if (k == 3) {
                        <h2 style="margin-left: 2%; font-weight: 500; text-shadow: 1px 0px 1px gray, 0px 1px 1px gray, 2px 1px 1px gray, 1px 2px 1px gray, 3px 2px 1px gray"><span style="color: #cd7f32; text-shadow: 1px 0px 1px SaddleBrown, 0px 1px 1px SaddleBrown, 2px 1px 1px SaddleBrown, 1px 2px 1px SaddleBrown, 3px 2px 1px SaddleBrown, 2px 3px 1px SaddleBrown, 4px 3px 1px SaddleBrown">@k місце</span> -  @course.CourseDescriptionShort.Replace("<br>", " ")</h2>
                    }
                    else {
                        <h2 style="margin-left: 2%; font-weight: 500; text-shadow: 1px 0px 1px gray, 0px 1px 1px gray, 2px 1px 1px gray, 1px 2px 1px gray, 3px 2px 1px gray"><span style="color: Aqua; text-shadow: 1px 0px 1px DodgerBlue, 0px 1px 1px DodgerBlue, 2px 1px 1px DodgerBlue, 1px 2px 1px DodgerBlue, 3px 2px 1px DodgerBlue, 2px 3px 1px DodgerBlue, 4px 3px 1px DodgerBlue">@k місце</span> -  @course.CourseDescriptionShort.Replace("<br>", " ")</h2>
                    }
                    <div style="display: flex; margin-left: 2%">
                        <h3 style="font-weight: 400">Оцінка курсу:</h3>
                        @if (course.Rating >= 0 && course.Rating < 0.5)
                        {
                            <img src="~/img/icons/rate.png" style="width: 20px; height: 30px; margin-left: 2%" />
                            <img src="~/img/icons/rate.png" style="width: 20px; height: 30px; margin-left: 1%" />
                            <img src="~/img/icons/rate.png" style="width: 20px; height: 30px; margin-left: 1%" />
                            <img src="~/img/icons/rate.png" style="width: 20px; height: 30px; margin-left: 1%" />
                            <img src="~/img/icons/rate.png" style="width: 20px; height: 30px; margin-left: 1%" />
                        }
                        @if (course.Rating >= 0.5 && course.Rating < 1.5)
                        {
                            <img src="~/img/icons/rate-orange.png" style="width: 20px; height: 30px; margin-left: 2%" />
                            <img src="~/img/icons/rate.png" style="width: 20px; height: 30px; margin-left: 1%" />
                            <img src="~/img/icons/rate.png" style="width: 20px; height: 30px; margin-left: 1%" />
                            <img src="~/img/icons/rate.png" style="width: 20px; height: 30px; margin-left: 1%" />
                            <img src="~/img/icons/rate.png" style="width: 20px; height: 30px; margin-left: 1%" />
                        }
                        @if (course.Rating >= 1.5 && course.Rating < 2.5)
                        {
                            <img src="~/img/icons/rate-orange.png" style="width: 20px; height: 30px; margin-left: 2%" />
                            <img src="~/img/icons/rate-orange.png" style="width: 20px; height: 30px; margin-left: 1%" />
                            <img src="~/img/icons/rate.png" style="width: 20px; height: 30px; margin-left: 1%" />
                            <img src="~/img/icons/rate.png" style="width: 20px; height: 30px; margin-left: 1%" />
                            <img src="~/img/icons/rate.png" style="width: 20px; height: 30px; margin-left: 1%" />
                        }
                        @if (course.Rating >= 2.5 && course.Rating < 3.5)
                        {
                            <img src="~/img/icons/rate-orange.png" style="width: 20px; height: 30px; margin-left: 2%" />
                            <img src="~/img/icons/rate-orange.png" style="width: 20px; height: 30px; margin-left: 1%" />
                            <img src="~/img/icons/rate-orange.png" style="width: 20px; height: 30px; margin-left: 1%" />
                            <img src="~/img/icons/rate.png" style="width: 20px; height: 30px; margin-left: 1%" />
                            <img src="~/img/icons/rate.png" style="width: 20px; height: 30px; margin-left: 1%" />
                        }
                        @if (course.Rating >= 3.5 && course.Rating < 4.5)
                        {
                            <img src="~/img/icons/rate-orange.png" style="width: 20px; height: 30px; margin-left: 2%" />
                            <img src="~/img/icons/rate-orange.png" style="width: 20px; height: 30px; margin-left: 1%" />
                            <img src="~/img/icons/rate-orange.png" style="width: 20px; height: 30px; margin-left: 1%" />
                            <img src="~/img/icons/rate-orange.png" style="width: 20px; height: 30px; margin-left: 1%" />
                            <img src="~/img/icons/rate.png" style="width: 20px; height: 30px; margin-left: 1%" />
                        }
                        @if (course.Rating >= 4.5 && course.Rating <= 5)
                        {
                            <img src="~/img/icons/rate-orange.png" style="width: 20px; height: 30px; margin-left: 2%" />
                            <img src="~/img/icons/rate-orange.png" style="width: 20px; height: 30px; margin-left: 1%" />
                            <img src="~/img/icons/rate-orange.png" style="width: 20px; height: 30px; margin-left: 1%" />
                            <img src="~/img/icons/rate-orange.png" style="width: 20px; height: 30px; margin-left: 1%" />
                            <img src="~/img/icons/rate-orange.png" style="width: 20px; height: 30px; margin-left: 1%" />
                        }
                        <h3 style="font-weight: 400; margin-left: 2%; color: #F47C50">
                            @{
                                var rating = Math.Round(course.Rating, 1);
                                @rating
                            }
                            / 5
                        </h3>
                    </div>
                    <p style="font-weight: 400; margin-left: 2%; margin-bottom: 7px; text-align: justify">@course.CourseDescription</p>
                    <a class="nav-link text-dark nav-item-bordered" style="width: 200px; padding: 10px; font-weight: 400; font-size: 22px; margin-left: 2%" asp-controller="Courses" asp-action="Details" asp-route-id="@course.Id">
                        ПЕРЕЙТИ ДО КУРСУ
                    </a>
                </div>                
            </div>
        }
    </div>    
</div>
<div style="width: 100%; height: 50px; margin-bottom: auto; margin-top: 35px; background: rgb(205,112,121);
     background: linear-gradient(90deg, rgba(205,112,121,1) 0%, rgba(200,140,140,1) 100%, rgba(200,140,140,1) 100%);">
</div>
