@using Microsoft.AspNetCore.Html;
@using HealthyLife.Data;
@*model IEnumerable<HealthyLife.Models.Course>*@
@model HealthyLife.ViewModels.FilterViewModel

@addTagHelper *, HealthyLife

@{
    ViewData["Title"] = "Каталог";
}
<div style="width: 100%; min-height: 100vh" class="mt-3">
    <div style="width: 100%; height: auto; background: rgb(198,62,62);
         background: linear-gradient(90deg, rgba(198,62,62,1) 0%, rgba(244,124,80,1) 54%, rgba(244,124,80,1) 100%);">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <img src="~/img/icons/logo_catalog.png" width="100%" height="164px" />
                </div>
                <div class="col-md-8" style="display:flex; align-items: flex-start; justify-content: center; flex-direction: column; text-align: left">
                    <h3 style="font-weight: 500;font-size: 50px;color: #FFFFFF;line-height: 50px;">
                        Оформіть підписку ХЕКА+
                    </h3><br />
                    <h4 style="font-style: normal;font-weight: 500;font-size: 30px; line-height: 30px;color: #FFFFFF;">
                        З нею Вам відкриються нові можливості на шляху до здорового способу життя.
                    </h4>
                </div>
                <div class="col-md-2" style="display:flex; align-items:center; justify-content: center; margin: 0; padding: 0">
                    <a class="nav-link nav-item-bordered disabled"
                        style="width: 90%; margin: 15px auto; height: auto; padding: 15px; display:flex; align-items:center; justify-content: center;
                        background-color: #FFFFFF; font-weight: 500;font-size: 30px;line-height: 30px;
                        text-align: center;text-transform: uppercase;color: #2C3447"
                        href="#">ХЕКА+</a>
                </div>
            </div>
        </div>
    </div>
    <div style="width: 100%; height: auto; background: rgb(44,52,71);
            background: linear-gradient(90deg, rgba(44,52,71,1) 0%, rgba(26,159,131,1) 100%, rgba(26,159,131,1) 100%);">
        <div class="container">
            <div class="row">
                <div class="col-md-3" style="display:flex; align-items:center; justify-content: center; margin: 0; padding: 0">
                    <a class="nav-link nav-item-bordered disabled"
                        style="width: 90%; margin: 15px auto; height: auto; padding: 15px; display:flex; align-items:center; justify-content: center;
                        background-color: #FFFFFF; font-weight: 500;font-size: 30px;line-height: 30px;
                        text-align: center;text-transform: uppercase;color: #2C3447"
                        href="#">ОБМІНЯТИ СЕРТИФІКАТ</a>
                </div>
                <div class="col-md-7" style="display:block; margin: 20px auto; text-align: left">
                    <h3 style="font-weight: 500;font-size: 37px;line-height: 37px;color: #FFFFFF;">
                        Скористайтеся послугою обміну сертифіката
                    </h3>
                    <h4 style="font-style: normal;font-weight: 500;font-size: 25px;line-height: 25px; color: #FFFFFF;">
                        Ми з розумінням обміняємо Ваш сертифікат у разі виявлення недостовірності курсу наданим характеристикам.
                    </h4>
                </div>
                <div class="col-md-2">
                    <img src="~/img/icons/logo_catalog1.png" width="100%" height="130px" style="float: right;" />
                </div>
            </div>
        </div>
    </div>
    <div style="width: 100%; height: auto; background: linear-gradient(90deg, rgba(238,84,99,0.5) 0%, rgba(239,102,91,0.5) 50%, rgba(239,119,84,0.5) 100%); display: flex; opacity: 50">
        <div class="container">            
                <form method="get">
                    <div class="row" style="height: auto; margin: 38px 0px">
                        <div class="col-md-4" style="padding: 5px;">
                            <button type="button" id="choiceSubject" class="nav-link nav-item-bordered" style="width: 100%; position: sticky; height: 70px; border-radius: 15px; border: 3px solid #808080; color: #808080; font-size: 30px; text-align: left; margin-left: 0px; padding-left: 15px; padding-top: 10px; padding-bottom: 10px">
                                ОБЕРІТЬ ТЕМАТИКУ<i class="fa fa-arrow-circle-down arrow" style="float: right; font-size: 40px; padding-right: 15px"></i>
                                <div class="row subject-list" style="display: none; width: 200%; border: 1px solid #808080; border-radius: 20px; background-color: white; color: black; position: absolute; left: 0; float: right; z-index: 100">
                                <h4 style="font-weight: 500; font-size: 26px; margin: 7px; margin-left: 10px; margin-bottom: 0; padding: 10px">ТЕМАТИКИ КУРСІВ</h4>
                                <hr style="margin-left: 20px; padding-top: 0; margin-bottom: 5px; width: 50%; border: none; height: 2px; border-top: 2px solid black; background-color: black">
                                @foreach (var s in Model.Subjects)
                                {
                                    <div class="col-md-6" style="display: flex">
                                        <input name="sid" id="@s.Id" type="checkbox" style="border-radius: 10px; margin-left: 10px; padding: 10px" value="@s.Id" />
                                        <label for="sid" style="font-weight: 400; font-size: 20px; margin: 7px; padding: 5px;">
                                            @{
                                                HtmlString subject = new HtmlString(s.SubjectName);
                                            }@subject
                                        </label>

                                    </div>
                                }
                            </div>
                            </button>
                            
                        </div>
                        <div class="col-md-4" style="padding: 5px;">
                            <button type="button" id="choiceAuthor" class="nav-link nav-item-bordered" style="width: 100%; height: 70px; border-radius: 15px; border: 3px solid #808080; color: #808080; font-size: 30px; text-align: left; margin-left: 0px; padding-left: 15px; padding-top: 10px; padding-bottom: 10px">
                                ОБЕРІТЬ АВТОРА<i class="fa fa-arrow-circle-down arrow3" style="float: right; font-size: 40px; padding-right: 15px"></i>
                            </button>
                            <div class="row author-list" style="display: none; width: 42.5%; border: 1px solid #808080; border-radius: 20px; background-color: white; position: absolute; left: 3%; float: right; z-index: 100">
                                <h4 style="font-weight: 500; font-size: 26px; margin: 7px; margin-left: 10px; margin-bottom: 0; padding: 10px">АВТОРИ КУРСІВ</h4>
                                <hr style="margin-left: 20px; padding-top: 0; margin-bottom: 5px; width: 50%; border: none; height: 2px; border-top: 2px solid black; background-color: black">
                                @foreach (var a in Model.Authors)
                                {
                                    <div class="col-md-6" style="display: flex">

                                        <input name="aid" id="@a.Id" type="checkbox" style="border-radius: 10px; margin-left: 10px; padding: 10px" value="@a.Id" />
                                        <label for="sid" style="font-weight: 400; font-size: 20px; margin: 7px; padding: 5px;">
                                            @{
                                                HtmlString author = new HtmlString(a.AuthorName);
                                            }@author
                                        </label>

                                    </div>
                                }
                            </div>
                        </div>
                        @*<div class="col-md-3" style="padding: 0px 5px;">
                        <button type="button" class="nav-link nav-item-bordered" style="width: 100%; height: 70px; border-radius: 15px; border: 3px solid #808080; color: #808080; font-size: calc((100vw - 480px)/(1920 - 480) * (29 - 13) + 13px); text-align: left; margin-left: 0px; padding-left: 15px; padding-bottom: 10px">
                        ОБЕРІТЬ ТРИВАЛІСТЬ<i class="fa fa-arrow-circle-down" style="float: right; font-size: 40px; padding-right: 10px"></i>
                        </button>
                        </div>*@
                        <div class="col-md-4" style="padding: 5px; display: flex; justify-content: center; align-items: center">
                            <button type="submit" class="nav-link nav-item-bordered" style="width: 80%; height: 70px; border-radius: 15px; border: 2px solid #F25564; background-color: #F25564; color: white; font-size: 30px; text-align: center; padding-top: 10px; padding-bottom: 10px">
                                ЗНАЙТИ
                            </button>
                        </div>
                        @*<div class="col-md-1" style="padding: 0px 5px">
                        <button type="button" class="nav-link nav-item-bordered" style="width: 90%; height: 70px; margin-left: 0px; padding-bottom: 15px; border-radius: 15px; border: 2px solid #F25564; background-color: #F25564;">
                        <img src="~/img/icons/filter.png" style="width: 55%; height: 40px" />
                        </button>
                        </div>*@
                    </div>
                </form>
        </div>
    </div>

    <div class="container" style="width: 100%; height: 84px;">
        <div style="margin-top: 26px; display: flex; width: 100%">
            <div style="display: flex; justify-content: flex-start; align-items: flex-start; float: left; width: 50%;">
                <button class="dropdown-toggle" style="width: 300px; height: 55px; padding: 5px 15px; color: #808080; font-size: 28px; border: 3px solid #1A9F83; border-radius: 15px" data-bs-toggle="dropdown">ЗА ЗАМОВЧУВАННЯМ</button>
                <ul class="dropdown-menu dropdown-menu-left" style="width: 250px">
                    <sort page-model="Model.PageViewModel" sort-action="Index" sort-name="За алфавітом" sort-url-sortOrder="@ViewData["NameSortParm"]" sort-url-sid="@ViewData["sid"]" sort-url-aid="@ViewData["aid"]" sort-url-page="@ViewData["page"]"></sort>
                    <sort page-model="Model.PageViewModel" sort-action="Index" sort-name="За зворотнім алфавітом" sort-url-sortOrder="@ViewData["NameDescSortParm"]" sort-url-sid="@ViewData["sid"]" sort-url-aid="@ViewData["aid"]" sort-url-page="@ViewData["page"]"></sort>
                    <sort page-model="Model.PageViewModel" sort-action="Index" sort-name="Від дешевих до дорогих" sort-url-sortOrder="@ViewData["PriceSortParm"]" sort-url-sid="@ViewData["sid"]" sort-url-aid="@ViewData["aid"]" sort-url-page="@ViewData["page"]"></sort>
                    <sort page-model="Model.PageViewModel" sort-action="Index" sort-name="Від дорогих до дешевих" sort-url-sortOrder="@ViewData["PriceDescSortParm"]" sort-url-sid="@ViewData["sid"]" sort-url-aid="@ViewData["aid"]" sort-url-page="@ViewData["page"]"></sort>
                    <sort page-model="Model.PageViewModel" sort-action="Index" sort-name="За зростанням рейтингу" sort-url-sortOrder="@ViewData["RatingSortParm"]" sort-url-sid="@ViewData["sid"]" sort-url-aid="@ViewData["aid"]" sort-url-page="@ViewData["page"]"></sort>
                    <sort page-model="Model.PageViewModel" sort-action="Index" sort-name="За спаданням рейтингу" sort-url-sortOrder="@ViewData["RatingDescSortParm"]" sort-url-sid="@ViewData["sid"]" sort-url-aid="@ViewData["aid"]" sort-url-page="@ViewData["page"]"></sort>
                </ul>
            </div>
            <div style="display: flex; justify-content: flex-end; align-items: flex-end; align-content: flex-end; width: 48%;">
                <button class="nav-item-bordered" id="list" style="width: 55px; height: 55px; margin-right: 12px; padding-top: 2px; border: 3px solid #1A9F83; border-radius: 10px">
                    <img style="width: 90%; height: 30px;" src="~/img/icons/list.png" class="list-image" />
                </button>
                <button class="nav-item-bordered" id="grid3" style="width: 55px; height: 55px; margin: 0 12px; padding-top: 2px; border: 3px solid #1A9F83; border-radius: 10px">
                    <img style="width: 95%; height: 30px;" src="~/img/icons/grid3-active.png" class="grid3-image" />
                </button>
                <button class="nav-item-bordered" id="grid4" style="width: 55px; height: 55px; margin: 0 12px; padding-top: 2px; border: 3px solid #1A9F83; border-radius: 10px">
                    <img style="width: 90%; height: 30px;" src="~/img/icons/grid4.png" class="grid4-image" />
                </button>
                <button class="nav-item-bordered" id="grid5" style="width: 55px; height: 55px; margin-left: 12px; padding-top: 2px; margin-right: 0px; border: 3px solid #1A9F83; border-radius: 10px">
                    <img style="width: 90%; height: 30px;" src="~/img/icons/grid5.png" class="grid5-image" />
                </button>
            </div>
        </div>
    </div>
    <div class="container" style="width: 100%;">
        <div class="grid-div" style="width: 100%;">
            <div class="row" style="width: 100%;">
                @foreach (var course in Model.Courses)
                {
                    <div class="col-md-4 course" style="margin-top: 20px;">
                        <div class="product-card" style="width: 100%; height: 100%">
                            @if (course.Price > 1500)
                            {
                                <a style="background-color: #F7A121;
                                            height: 36px; width: 37px; border-bottom-right-radius: 20px;
                                            position: absolute; border-top-left-radius: 20px; padding: 20px"
                           asp-action="Details" asp-route-id="@course.Id">
                                    <img src="~/img/icons/I.png" width="20px" height="20px"
                                 style="position: absolute; left: 10px; top: 10px" />
                                </a>
                            }
                            else if (course.Price.Equals(0))
                            {
                                <a style="background-color: #1A9F83;
                                            height: 36px; width: 37px; border-bottom-right-radius: 20px;
                                            position: absolute; border-top-left-radius: 20px; padding: 20px"
                           asp-action="Details" asp-route-id="@course.Id">
                                    <img src="~/img/icons/I.png" width="20px" height="20px"
                                 style="position: absolute; left: 10px; top: 10px" />
                                </a>
                            }
                            else
                            {
                                <a style="background-color: #F47C50;
                                            height: 36px; width: 37px; border-bottom-right-radius: 20px;
                                            position: absolute; border-top-left-radius: 20px; padding: 20px"
                           asp-action="Details" asp-route-id="@course.Id">
                                    <img src="~/img/icons/I.png" width="20px" height="20px"
                                 style="position: absolute; left: 10px; top: 10px" />
                                </a>
                            }
                            @if (course.Price > 1500)
                            {
                                <a class="priceItem" style="background-color: #F7A121; position: absolute;
                                            height: 36px; width: 112px; border-bottom-left-radius: 20px;
                                            border-top-right-radius: 20px; padding: 20px; top: 0; right: 0;
                                            text-decoration:none" asp-action="Details" asp-route-id="@course.Id">
                                    <h3 class="detailPrice" style="position: absolute; left: 30%; top: 5px; color: #FFFFFF">
                                        @{
                                            var price = Convert.ToInt16(course.Price).ToString();
                                        }
                                        @price ₴
                                    </h3>
                                </a>

                            }
                            else if (course.Price.Equals(0))
                            {
                                <a class="priceItem" style="background-color: #1A9F83; position: absolute;
                                            height: 36px; width: 112px; border-bottom-left-radius: 20px;
                                            border-top-right-radius: 20px; padding: 20px; top: 0; right: 0;
                                            text-decoration:none" asp-action="Details" asp-route-id="@course.Id">
                                    <h3 class="detailPrice" style="position: absolute; left: 30%; top: 5px; color: #FFFFFF">ДАРОМ</h3>
                                </a>
                            }
                            else
                            {
                                <a class="priceItem" style="background-color: #F47C50; position: absolute;
                                            height: 36px; width: 112px; border-bottom-left-radius: 20px;
                                            border-top-right-radius: 20px; padding: 20px; top: 0; right: 0;
                                            text-decoration:none" asp-action="Details" asp-route-id="@course.Id">
                                    <h3 class="detailPrice" style="position: absolute; left: 30%; top: 5px; color: #FFFFFF">
                                        @{
                                            var price = Convert.ToInt16(course.Price).ToString();
                                        }
                                        @price ₴
                                    </h3>
                                </a>
                            }
                            @if (course.Price > 1500)
                            {
                                <a class="detailItem" style="background-color: #F7A121; position: absolute;
                                                height: 36px; width: 112px; border-bottom-right-radius: 20px;
                                                border-top-left-radius: 20px; padding: 20px; bottom: 0; right: 0;
                                                text-decoration:none; margin-top: -39px" asp-action="Details" asp-route-id="@course.Id">
                                    <h3 class="detailFont" style="position: absolute; left: 10%; top: 5px; color: #FFFFFF;
                                                        font-weight:400; font-size: 25px">
                                        детальніше
                                    </h3>
                                </a>
                            }
                            else if (course.Price.Equals(0))
                            {
                                <a class="detailItem" style="background-color: #1A9F83; position: absolute;
                                                height: 36px; width: 112px; border-bottom-right-radius: 20px;
                                                border-top-left-radius: 20px; padding: 20px; bottom: 0; right: 0;
                                                text-decoration:none; margin-top: -39px" asp-action="Details" asp-route-id="@course.Id">
                                    <h3 class="detailFont" style="position: absolute; left: 10%; top: 5px; color: #FFFFFF;
                                                        font-weight:400; font-size: 25px">
                                        детальніше
                                    </h3>
                                </a>
                            }
                            else if (course.Price > 0)
                            {
                                <a class="detailItem" style="background-color: #F47C50; position: absolute;
                                                height: 36px; width: 112px; border-bottom-right-radius: 20px;
                                                border-top-left-radius: 20px; padding: 20px; bottom: 0; right: 0;
                                                text-decoration:none; margin-top: -39px" asp-action="Details" asp-route-id="@course.Id">
                                    <h3 class="detailFont" style="position: absolute; left: 10%; top: 5px; color: #FFFFFF;
                                                        font-weight:400; font-size: 25px">
                                        детальніше
                                    </h3>
                                </a>
                            }
                            <img src="~/img/img_courses/@course.PathToPhoto" style="width: 100%; height: 175px; border-radius: 20px 20px 0% 0%" />
                            <div class="row" style="z-index: 100; width: 100%; margin: 0; height: auto; border-radius: 0% 0% 20px 20px; opacity: 0.90;">
                                <div class="col-md-10" style="height: auto; padding-left: 5%; padding-top: 5%; padding-bottom: 7%">
                                    <h4 class="courseDescriptionShortFont" style="font-weight: 400; font-size: 28px; text-align: center; color: #2C3477">
                                        @{
                                            HtmlString str = new HtmlString(course.CourseDescriptionShort);
                                            @str
                                        }
                                    </h4>
                                </div>
                                <div class="col-md-2 hear-div" style="padding-top: 40px">
                                    <p class="hidden itemCourseId" id="@course.Id">@course.Id</p>
                                    <input type="hidden" class="courseId" value="@course.Id" />
                                    <img src="~/img/icons/hear_ico.png" id="add-wishlist" width="23px" height="20px"
                                     onmouseover="hover(this);" onmouseout="unhover(this);" />

                                    <img src="~/img/icons/heart_purpur.png" class="del-wishlist" id="del-wishlist" width="23px" height="20px" style="display: none;"
                                     onmouseover="hover(this);" onmouseout="unhover(this);" />

                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="list-div" style="display: none; width: 100%">
            @foreach (var course in Model.Courses)
            {
                <div style="height: auto; width: 100%; padding: 0; margin: 0 auto; position: sticky" class="product-card-list row mt-5">
                    @if (course.Price > 1500)
                    {
                        <a style="background-color: #F7A121;
                                            height: 36px; width: 37px; border-bottom-right-radius: 20px;
                                            position: absolute; border-top-left-radius: 20px; padding: 20px"
                   asp-action="Details" asp-route-id="@course.Id">
                            <img src="~/img/icons/I.png" width="20px" height="20px"
                         style="position: absolute; left: 10px; top: 10px" />
                        </a>
                    }
                    else if (course.Price.Equals(0))
                    {
                        <a style="background-color: #1A9F83;
                                            height: 36px; width: 37px; border-bottom-right-radius: 20px;
                                            position: absolute; border-top-left-radius: 20px; padding: 20px"
                   asp-action="Details" asp-route-id="@course.Id">
                            <img src="~/img/icons/I.png" width="20px" height="20px"
                         style="position: absolute; left: 10px; top: 10px" />
                        </a>
                    }
                    else
                    {
                        <a style="background-color: #F47C50;
                                            height: 36px; width: 37px; border-bottom-right-radius: 20px;
                                            position: absolute; border-top-left-radius: 20px; padding: 20px"
                   asp-action="Details" asp-route-id="@course.Id">
                            <img src="~/img/icons/I.png" width="20px" height="20px"
                         style="position: absolute; left: 10px; top: 10px" />
                        </a>
                    }
                    @if (course.Price > 1500)
                    {
                        <a style="background-color: #F7A121; position: absolute;
                    height: 36px; width: 112px; border-bottom-left-radius: 20px;
                    border-top-right-radius: 20px; padding: 20px; top: 0; right: 0;
                    text-decoration:none" asp-action="Details" asp-route-id="@course.Id">
                            <h3 style="position: absolute; left: 30%; top: 5px; color: #FFFFFF">
                                @{
                                    var price = Convert.ToInt16(course.Price).ToString();
                                }
                                @price ₴
                            </h3>
                        </a>

                    }
                    else if (course.Price.Equals(0))
                    {
                        <a style="background-color: #1A9F83; position: absolute;
                    height: 36px; width: 112px; border-bottom-left-radius: 20px;
                    border-top-right-radius: 20px; padding: 20px; top: 0; right: 0;
                    text-decoration:none" asp-action="Details" asp-route-id="@course.Id">
                            <h3 style="position: absolute; left: 25%; top: 5px; color: #FFFFFF">ДАРОМ</h3>
                        </a>
                    }
                    else
                    {
                        <a style="background-color: #F47C50; position: absolute;
                    height: 36px; width: 112px; border-bottom-left-radius: 20px;
                    border-top-right-radius: 20px; padding: 20px; top: 0; right: 0;
                    text-decoration:none" asp-action="Details" asp-route-id="@course.Id">
                            <h3 style="position: absolute; left: 28%; top: 5px; color: #FFFFFF">
                                @{
                                    var price = Convert.ToInt16(course.Price).ToString();
                                }
                                @price ₴
                            </h3>
                        </a>
                    }

                    @if (course.Price > 1500)
                    {
                        <a style="background-color: #F7A121; position: absolute;
                    height: 36px; width: 112px; border-bottom-right-radius: 20px;
                    border-top-left-radius: 20px; padding: 20px; bottom: 0; right: 0;
                    text-decoration:none; margin-top: -39px" asp-action="Details" asp-route-id="@course.Id">
                            <h3 style="position: absolute; left: 10%; top: 5px; color: #FFFFFF;
                    font-weight:400; font-size: 25px">
                                детальніше
                            </h3>
                        </a>
                    }
                    else if (course.Price.Equals(0))
                    {
                        <a style="background-color: #1A9F83; position: absolute;
                    height: 36px; width: 112px; border-bottom-right-radius: 20px;
                    border-top-left-radius: 20px; padding: 20px; bottom: 0; right: 0;
                    text-decoration:none; margin-top: -39px" asp-action="Details" asp-route-id="@course.Id">
                            <h3 style="position: absolute; left: 10%; top: 5px; color: #FFFFFF;
                    font-weight:400; font-size: 25px">
                                детальніше
                            </h3>
                        </a>
                    }
                    else if (course.Price > 0)
                    {
                        <a style="background-color: #F47C50; position: absolute;
                    height: 36px; width: 112px; border-bottom-right-radius: 20px;
                    border-top-left-radius: 20px; padding: 20px; bottom: 0; right: 0;
                    text-decoration:none; margin-top: -39px" asp-action="Details" asp-route-id="@course.Id">
                            <h3 style="position: absolute; left: 10%; top: 5px; color: #FFFFFF;
                    font-weight:400; font-size: 25px">
                                детальніше
                            </h3>
                        </a>
                    }
                    <div class="col-4 img-content" style="margin: 0; padding: 0">
                        <img class="course-img" style="border-radius: 20px; width: 100%; height: 100%;" src="~/img/img_courses/@course.PathToPhoto" />
                    </div>
                    <div class="col-8 pb-5 course-content" style="display: block; margin: 0; margin-top: 4.5%">
                        <div class="row">
                            <div class="col-md-12" style="position: sticky">
                                <h4 style="font-weight: 500; font-size: 35px; margin-left: 5%; color: #2C3477">
                                    @{
                                        HtmlString str = new HtmlString(course.CourseDescriptionShort.Replace("<br>", ""));
                                        @str
                                    }
                                </h4>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-4" style="position: sticky; text-align: justify; margin-left: 5%">
                                    <div style="display: flex; margin-top: 3%;" class="rating_catalog">
                                        @if (course.Rating >= 0 && course.Rating < 0.5)
                                        {
                                            <img src="~/img/icons/rate.png" style="width: 16px; height: 19px;" />
                                            <img src="~/img/icons/rate.png" style="width: 16px; height: 19px; margin-left: 1%" />
                                            <img src="~/img/icons/rate.png" style="width: 16px; height: 19px; margin-left: 1%" />
                                            <img src="~/img/icons/rate.png" style="width: 16px; height: 19px; margin-left: 1%" />
                                            <img src="~/img/icons/rate.png" style="width: 16px; height: 19px; margin-left: 1%" />
                                        }
                                        @if (course.Rating >= 0.5 && course.Rating < 1.5)
                                        {
                                            <img src="~/img/icons/rate-orange.png" style="width: 16px; height: 19px;" />
                                            <img src="~/img/icons/rate.png" style="width: 16px; height: 19px; margin-left: 1%" />
                                            <img src="~/img/icons/rate.png" style="width: 16px; height: 19px; margin-left: 1%" />
                                            <img src="~/img/icons/rate.png" style="width: 16px; height: 19px; margin-left: 1%" />
                                            <img src="~/img/icons/rate.png" style="width: 16px; height: 19px; margin-left: 1%" />
                                        }
                                        @if (course.Rating >= 1.5 && course.Rating < 2.5)
                                        {
                                            <img src="~/img/icons/rate-orange.png" style="width: 16px; height: 19px;" />
                                            <img src="~/img/icons/rate-orange.png" style="width: 16px; height: 19px; margin-left: 1%" />
                                            <img src="~/img/icons/rate.png" style="width: 16px; height: 19px; margin-left: 1%" />
                                            <img src="~/img/icons/rate.png" style="width: 16px; height: 19px; margin-left: 1%" />
                                            <img src="~/img/icons/rate.png" style="width: 16px; height: 19px; margin-left: 1%" />
                                        }
                                        @if (course.Rating >= 2.5 && course.Rating < 3.5)
                                        {
                                            <img src="~/img/icons/rate-orange.png" style="width: 16px; height: 19px;" />
                                            <img src="~/img/icons/rate-orange.png" style="width: 16px; height: 19px; margin-left: 1%" />
                                            <img src="~/img/icons/rate-orange.png" style="width: 16px; height: 19px; margin-left: 1%" />
                                            <img src="~/img/icons/rate.png" style="width: 16px; height: 19px; margin-left: 1%" />
                                            <img src="~/img/icons/rate.png" style="width: 16px; height: 19px; margin-left: 1%" />
                                        }
                                        @if (course.Rating >= 3.5 && course.Rating < 4.5)
                                        {
                                            <img src="~/img/icons/rate-orange.png" style="width: 16px; height: 19px;" />
                                            <img src="~/img/icons/rate-orange.png" style="width: 16px; height: 19px; margin-left: 1%" />
                                            <img src="~/img/icons/rate-orange.png" style="width: 16px; height: 19px; margin-left: 1%" />
                                            <img src="~/img/icons/rate-orange.png" style="width: 16px; height: 19px; margin-left: 1%" />
                                            <img src="~/img/icons/rate.png" style="width: 16px; height: 19px; margin-left: 1%" />
                                        }
                                        @if (course.Rating >= 4.5 && course.Rating <= 5)
                                        {
                                            <img src="~/img/icons/rate-orange.png" style="width: 16px; height: 19px;" />
                                            <img src="~/img/icons/rate-orange.png" style="width: 16px; height: 19px; margin-left: 1%" />
                                            <img src="~/img/icons/rate-orange.png" style="width: 16px; height: 19px; margin-left: 1%" />
                                            <img src="~/img/icons/rate-orange.png" style="width: 16px; height: 19px; margin-left: 1%" />
                                            <img src="~/img/icons/rate-orange.png" style="width: 16px; height: 19px; margin-left: 1%" />
                                        }
                                        @*<h5 style="font-weight: 400; font-size: 17px; margin-left: 7%; color: #F47C50">
                                            @{
                                                var rating = Math.Round(course.Rating, 1);
                                                @rating
                                            }
                                            / 5
                                        </h5>*@
                                        <input type="hidden" class="courseCatalogId" value="@course.Id" />
                                        <h3 id="aver-rate" style="font-weight: 400; margin-left: 2%; font-size: 25px; color: #F47C50"></h3>
                                    </div>
                                    <div style="display: flex; margin-top: 4%">
                                        <img src="~/img/icons/timesselected.png" style="width: 21px; height: 21px;" />
                                        <h5 style="font-weight: 400; font-size: 17px; margin-left: 3%; color: #808080">
                                            @{
                                                var timesSelected = Convert.ToInt32(course.TimesSelected).ToString();
                                                @timesSelected
                                            }
                                        </h5>
                                        <img src="~/img/icons/likednumber.png" style="width: 19px; height: 19px; margin-left: 20%" />
                                        <h5 style="font-weight: 400; font-size: 17px; margin-left: 3%; color: #808080">
                                            @{
                                                var likedNumber = Convert.ToInt32(course.LikedNumber).ToString();
                                                @likedNumber
                                            }
                                        </h5>
                                    </div>
                                    <div style="display: flex; margin-top: 1%; margin-bottom: 1%">
                                        <img src="~/img/icons/duration.png" style="width: 19px; height: 19px;" />
                                        <h5 style="font-weight: 400; font-size: 17px; margin-left: 3%; color: #808080">
                                            @{
                                                HtmlString duration = new HtmlString(course.Duration);
                                                @duration
                                            }
                                        </h5>
                                    </div>
                                    <h6 style="font-weight: 400; font-size: 16px; color: #2C3477">
                                        АВТОР КУРСУ/СПІКЕР:<br>
                                        @{
                                            HtmlString author = new HtmlString(course.Aurhor.AuthorName);
                                            @author
                                        }
                                    </h6>
                                    <div id="courses-operations" style="display: flex; justify-content: flex-end; align-items: flex-end; margin-right: 20%">
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <button style="border: none; margin-right: 0.1%">
                                                <input type="hidden" class="courseId" value="@course.Id" />
                                                <img src="~/img/icons/hear_ico.png" style="width: 23px; height: 20px;" />
                                            </button>                                            
                                            <button style="border: none;">
                                                <input type="hidden" class="courseId" value="@course.Id" />
                                                <img src="~/img/icons/cart-gray.png" style="width: 23px; height: 20px;" />
                                            </button>
                                        }
                                        else
                                        {
                                            <a asp-area="Identity" asp-page="/Account/Login" style="margin-right: 5%"><img src="~/img/icons/hear_ico.png" style="width: 23px; height: 20px;" /></a>                                           
                                            <a asp-area="Identity" asp-page="/Account/Login"><img src="~/img/icons/cart-gray.png" style="width: 23px; height: 20px;" /></a>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-7" class="description-content" style="position: relative;  text-align: justify; border-left: 1px solid #808080; height: auto">
                                    <h4 style="font-weight: 400; font-size:23px; margin-left: 5%; color: #2C3477">
                                        @{
                                            HtmlString str3 = new HtmlString(course.CourseDescription);
                                            @str3
                                        }
                                    </h4>
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>

                    </div>
                </div>
            }
        </div>
    </div>
    <div class="container mt-5" style="text-align: center;">
        <page-link page-model="Model.PageViewModel" page-action="Index" page-url-sortOrder="@ViewData["sortOrder"]" page-url-sid="@ViewData["sid"]" page-url-aid="@ViewData["aid"]" style="display: flex; justify-content: center;"></page-link>
    </div>
    <div class="mt-5" style="width: 100%;  height: 60px; margin: 0 auto; background: rgb(205,112,121);
         background: linear-gradient(90deg, rgba(238,84,99,1) 0%, rgba(239,102,91,1) 50%, rgba(239,119,84,1) 100%);">
    </div>
</div>