@page
@model LoginModel

@{
    ViewData["Title"] = "Вхід";
}
<link rel="stylesheet" href="~/css/auth.css" asp-append-version="true" />

<div style="width: 100%; height: 60px; background: rgb(44,52,71);
        background: linear-gradient(90deg, rgba(44,52,71,1) 0%, rgba(26,159,131,1) 100%, rgba(26,159,131,1) 100%);"
        class="position-relative">
    <h4 style="font-weight: 500; font-size: 25px; line-height: 25px;display: flex; 
            align-items: center;text-transform: uppercase;color: #FFFFFF;"
            class="position-absolute top-50 start-50 translate-middle">
        Форма входу користувача
    </h4>
</div>

<h3 style="font-style: normal;font-weight: 500;font-size: 30px;line-height: 30px;
    display: flex;align-items: center;color: #2C3447; margin-top: 30px; margin-left: 10%;">
    Якщо вже маєте обліковий запис на платформі ХЕКА :
</h3>
<div asp-validation-summary="ModelOnly" class="text-danger" role="alert" style="margin-left: 9%;"></div>
<form id="account" method="post">
    <div style="width: 100%; margin-top: 40px" class="center-items-inside">
        <div class="row" style="width: 80%">
            <div class="col-md-1 text" style="width: auto; margin-left:-15px"required">Логін</div>
            <div class="col-md-3">
                <input asp-for="Input.Email" class="input-login text" id="email-input" autocomplete="username" 
                    aria-required="true" placeholder="name@example.com" style="height: 51px" required/>
            </div>
            <div class="col-md-1 text" style="width: auto; margin-left: 50px">Пароль</div>
            <div class="col-md-3">
                <input asp-for="Input.Password" class="input-login text" autocomplete="current-password"
                    aria-required="true" placeholder="password" style="height: 51px"/>
            </div>
            <div class="col-md-4" style="width: auto; margin-left: 50px">
                <button id="login-submit" type="submit" class="my-btn-login">
                        <text style="margin-top: 5px;">УВІЙТИ</text>
                </button>
            </div>
        </div>
    </div>
</form>
<div class="position-relative" style="width: 100%; margin-top: 50px">
    <div style="border: 2px solid rgba(128, 128, 128, 0.5);width: 30%;" 
         class="position-absolute top-50 start-50 translate-middle"></div>
</div>

<h3 style="font-style: normal;font-weight: 500;font-size: 30px;line-height: 30px;
    display: flex;align-items: center;color: #2C3447; margin-top: 75px; margin-left: 10%;">
    Увійти за допомогою соціальних мереж
</h3>

<form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl"
        method="post" class="form-horizontal">
    <div style="display:flex; align-items:center; justify-content: center; margin-top: 28px; ">
        <table style="width: 60%; border-spacing:10px; border-collapse: separate;">
            <tr>
                <th>
                    <button type="submit" name="provider" value="@Model.ExternalLogins.FirstOrDefault(p => p.DisplayName == "Google")?.Name"
                        style="border: 2px solid #808080; border-radius: 10px; padding: 10px 221px 10px 221px;">
                        <img src="~/img/icons/google_icon.png" height="24px" width="24px"/>
                    </button>
                </th>

                <th>
                    <div style="border: 2px solid rgba(128, 128, 128, 0.25); height: 43px; width: 1px; 
                        margin-left:auto!important; margin-right:auto!important; margin: 5px"></div>
                </th>

                <th>
                    <button type="submit" name="provider" value="@Model.ExternalLogins.FirstOrDefault(p => p.Name == "Facebook")?.Name"
                        style="border: 2px solid #808080; border-radius: 10px; padding: 10px 221px 10px 221px;">
                        <img src="~/img/icons/facebook_icon.png" height="24px" width="24px"/>
                    </button>
                </th>
            </tr>
            <tr>
                <th>
                    <div style="border: 2px solid rgba(128, 128, 128, 0.25); width: 50%; margin-left:auto; height: 1px"></div>
                </th>
                <td></td>
                <td>
                    <div style="border: 2px solid rgba(128, 128, 128, 0.25); width: 50%; margin-right:auto; height: 1px"></div>
                </td>
            </tr>
            <tr>
                <th>
                    <button type="submit" name="provider" value="@Model.ExternalLogins.FirstOrDefault(p => p.DisplayName == "Twitter")?.Name"
                        style="border: 2px solid #808080; border-radius: 10px; padding: 10px 221px 10px 221px;">
                        <img src="~/img/icons/twitter_icon.png" height="24px" width="24px"/>
                    </button>
                </th>

                <td>
                    <div style="border: 2px solid rgba(128, 128, 128, 0.25); height: 43px; width: 1px; 
                        margin-left:auto!important; margin-right:auto!important"></div>
                </td>

                <td>
                    <button type="submit" name="provider" value="@Model.ExternalLogins.FirstOrDefault(p => p.Name == "Microsoft")?.Name"
                        style="border: 2px solid #808080; border-radius: 10px; padding: 10px 221px 10px 221px;">
                        <img src="~/img/icons/microsoft_logo.png" height="24px" width="24px"/>
                    </button>
                </td>
            </tr>
        </table>
    </div>
</form>

<div style="margin: 3% 10% 7% 10%" class="center-items-inside">
    <div class="row">
        <div class="col" style="width: auto;">
            <a id="forgot-password" asp-page="./ForgotPassword" class="link">Забули пароль?</a>
        </div>
        <div class="col" style="width: auto;">
            <a asp-page="./Register" class="link">Зареєструватися</a>
        </div>
        <div class="col" style="width: auto;">
            <a id="resend-confirmation" asp-page="./ResendEmailConfirmation" class="link">Повторно відправити лист підтвердження пошти</a>
        </div>
    </div>
</div>

@*<div class="container">
    <div class="row">
        <div class="col-md-4">
            <section>
                <form id="account" method="post">
                    <h2>Use a local account to log in.</h2>
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                        <label asp-for="Input.Email" class="form-label">Пошта</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                        <label asp-for="Input.Password" class="form-label">Пароль</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="checkbox mb-3">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                    <div>
                        <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Вхід</button>
                    </div>
                    <div>
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                        </p>
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                        </p>
                        <p>
                            <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                        </p>
                    </div>
                </form>
            </section>
        </div>
        <div class="col-md-6 col-md-offset-2">
            <section>
                <h3>Use another service to log in.</h3>
                <hr />
                @{
                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                                about setting up this ASP.NET application to support logging in via external services</a>.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins!)
                                    {
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </section>
        </div>
    </div>

</div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
