@page
@model RegisterModel
@{
    ViewData["Title"] = "Реєстрація";
}
<style>
    /**{
        border: 1px solid red;
    }*/
</style>

<link rel="stylesheet" href="~/css/auth.css" asp-append-version="true" />

<div style="width: 100%; height: 60px; background: rgb(44,52,71);
        background: linear-gradient(90deg, rgba(44,52,71,1) 0%, rgba(26,159,131,1) 100%, rgba(26,159,131,1) 100%);"
        class="position-relative">
    <h4 style="font-weight: 500; font-size: 25px; line-height: 25px;display: flex; 
            align-items: center;text-transform: uppercase;color: #FFFFFF;"
            class="position-absolute top-50 start-50 translate-middle">
        Форма реєстрації користувача
    </h4>
</div>

<div class="position-relative" style="width: 100%; margin-top: 15px">
    <div style="border: 2px solid rgba(128, 128, 128, 0.5);width: 30%;" 
         class="position-absolute top-50 start-50 translate-middle"></div>
</div>

<h3 style="font-style: normal;font-weight: 500;font-size: 30px;line-height: 30px;
    display: flex;align-items: center;color: #2C3447; margin-top: 30px; margin-left: 124px;">
    Зареєструватись за допомогою соціальних мереж
</h3>

<form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl"
        method="post" class="form-horizontal">
    <div style="display:flex; align-items:center; justify-content: center; margin-top: 28px; ">
        <table style="width: 60%; border-spacing:10px; border-collapse: separate;">
            <tr>
                <th>
                    <button type="submit" name="provider" value="@Model.ExternalLogins.FirstOrDefault(p => p.DisplayName == "Google")?.Name"
                        style="border: 2px solid #808080; border-radius: 10px; padding: 10px 221px 10px 221px;">
                        <img src="~/img/icons/google_icon.png" height="24px" width="24px"/>
                    </button>
                </th>

                <th>
                    <div style="border: 2px solid rgba(128, 128, 128, 0.25); height: 43px; width: 1px; 
                        margin-left:auto!important; margin-right:auto!important; margin: 5px"></div>
                </th>

                <th>
                    <button type="submit" name="provider" value="@Model.ExternalLogins.FirstOrDefault(p => p.Name == "Facebook")?.Name"
                        style="border: 2px solid #808080; border-radius: 10px; padding: 10px 221px 10px 221px;">
                        <img src="~/img/icons/facebook_icon.png" height="24px" width="24px"/>
                    </button>
                </th>
            </tr>
            <tr>
                <th>
                    <div style="border: 2px solid rgba(128, 128, 128, 0.25); width: 50%; margin-left:auto; height: 1px"></div>
                </th>
                <td></td>
                <td>
                    <div style="border: 2px solid rgba(128, 128, 128, 0.25); width: 50%; margin-right:auto; height: 1px"></div>
                </td>
            </tr>
            <tr>
                <th>
                    <button type="submit" name="provider" value="@Model.ExternalLogins.FirstOrDefault(p => p.DisplayName == "Twitter")?.Name"
                        style="border: 2px solid #808080; border-radius: 10px; padding: 10px 221px 10px 221px;">
                        <img src="~/img/icons/twitter_icon.png" height="24px" width="24px"/>
                    </button>
                </th>

                <td>
                    <div style="border: 2px solid rgba(128, 128, 128, 0.25); height: 43px; width: 1px; 
                        margin-left:auto!important; margin-right:auto!important"></div>
                </td>

                <td>
                    <button type="submit" name="provider" value="@Model.ExternalLogins.FirstOrDefault(p => p.Name == "Microsoft")?.Name"
                        style="border: 2px solid #808080; border-radius: 10px; padding: 10px 221px 10px 221px;">
                        <img src="~/img/icons/microsoft_logo.png" height="24px" width="24px"/>
                    </button>
                </td>
            </tr>
        </table>
    </div>
</form>

<div class="position-relative" style="width: 100%; margin-top: 10px">
    <div style="border: 2px solid rgba(128, 128, 128, 0.5);width: 30%;" 
         class="position-absolute top-50 start-50 translate-middle"></div>
</div>

<div class="row" style="margin-top: 20px; margin-left: 100px; margin-right: 100px; margin-bottom: 15%" >
    <div class="col-4">
        <h3 style="font-style: normal;font-weight: 500;font-size: 30px;line-height: 30px;
                display: flex;align-items: center; color: #2C3447;">
            Для реєстрації заповніть анкету нижче
        </h3>

        <div class="row">
           <h3 style="color:#F47C50;" class="col-1">*</h3>
           <h3 class="col-8 label" style="margin-left:-15px">- обов’язкові поля для заповнення</h3>
        </div>

        <form id="account" method="post" style="margin-top: 20px">
            
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert" id="alert-text"></div>
            <div class="form-floating mb-3">

                <div class="row" style="margin-left: 5px; width: 335px">   
                   <h3 class="col-2 label">Ім’я</h3>
                   <h3 style="color:#F47C50;" class="col-1">*</h3>
                   <h3 style="color:#F25564; direction: rtl;" class="col-9 label" id="name-res">введіть ім’я</h3>
                </div>
                <input asp-for="Input.FirstName" class="input-reg text ml-auto" autocomplete="username" 
                       aria-required="true" required id="name-input" placeholder="Марк"/>

            </div>
            <div class="form-floating mb-3">

                <div class="row" style="margin-left: 5px; width: 335px">   
                   <h3 class="col-3 label">Прізвище</h3>
                   <h3 style="color:#F47C50;" class="col-1">*</h3>
                   <h3 style="color:#F25564; direction: rtl;" class="col-8 label" id="lastname-res">введіть призвіще</h3>
                </div>

                <input asp-for="Input.LastName" class="input-reg text" autocomplete="username" 
                       aria-required="true" required id="last-name-input" placeholder="Цукерберг"/>
            </div>

            <div class="form-floating mb-3">

                <div class="row" style="margin-left: 5px; width: 335px">   
                    <label class="col-2 label">Пошта</label>
                    <h3 style="color:#F47C50;" class="col-1">*</h3>
                    <h3 style="color:#F25564; direction: rtl;" class="col-9 label" 
                        id="email-res">введіть пошту</h3>
                </div>

                <input asp-for="Input.Email" class="input-reg text" autocomplete="username" 
                       aria-required="true" required id="email-input-reg" placeholder="name@example.com"/>

            </div>

            <div class="form-floating mb-3">

                <div class="row" style="margin-left: 5px; width: 335px">   
                   <h3 class="col-2 label">Пароль</h3>
                   <h3 style="color:#F47C50;" class="col-1">*</h3>
                   <h3 style="color:#F25564; direction: rtl;" class="col-9 label" id="pass-res">введіть пароль</h3>
                </div>

                <input asp-for="Input.Password" class="input-reg text" autocomplete="current-password" 
                       aria-required="true" id="passw-input" required />

            </div>

            <div class="form-floating mb-3">

                <div class="row" style="margin-left: 10px;width: 335px">   
                   <h3 class="col-2 label">Повтор пароля</h3>
                   <h3 style="color:#F47C50;" class="col-1">*</h3>
                   <h3 style="color:#F25564; direction: rtl;" class="col-9 label" id="conf-pass-res">введіть повтор</h3>
                </div>

                <input asp-for="Input.ConfirmPassword" class="input-reg text" autocomplete="current-password" 
                       aria-required="true" id="conf-pass-input" required/>

            </div>

            <div class="checkbox mb-3">
                <label class="form-label">
                    <input class="form-check-input" type="checkbox" id="checkbox1"/>
                     Політика конфіденційності
                </label>
            </div>

            <div class="checkbox mb-3">
                <label class="form-label">
                    <input class="form-check-input" type="checkbox" id="checkbox2"/>
                     Правила спільноти
                </label>
            </div>

            <div>
                <button id="register-submit" type="submit" class="my-btn-register-disabled">
                    <text style="margin-top: 5px;">РЕЄСТРАЦІЯ</text>
                </button>
            </div>
            <div style="margin-top: 20px">
                <p>
                    <a id="forgot-password" asp-page="./ForgotPassword" class="link">Забули пароль?</a>
                </p>
                <p>
                    <a asp-page="./Login" class="link">Вхід</a>
                </p>
                <p>
                    <a id="resend-confirmation" asp-page="./ResendEmailConfirmation" class="link">Повторно відправити лист підтвердження пошти</a>
                </p>
            </div>
        </form>
    </div>

    <div class="col-4">
        <h3 style="font-style: normal;font-weight: 500;font-size: 30px;line-height: 30px;
            display: flex;align-items: center; color: #2C3447; text-align:center;justify-content: center;">
            Політика конфіденційності
        </h3>
        
        <div style="overflow: auto; height: 900px; font-weight: 400;font-size: 25px;
                line-height: 25px;text-align: justify;color: #2C3447; border-left: 2px solid rgba(128, 128, 128, 0.5); 
                padding-left: 5px;">
            A. Вступ
Конфіденційність відвідувачів нашого сайту дуже важлива для нас, і ми прагнемо її захисту. У політиці конфіденційності міститься опис порядку обробки особистої інформації.
Згода на використання нами файлів cookie відповідно до умов цієї політики при першому відвідуванні нашого сайту дозволяє нам використовувати файли cookie щоразу, коли ви відвідуєте наш сайт.
В. Збір особистої інформації
Наступні типи особистих даних можуть бути зібрані, збережені та використані:
інформація про ваш комп'ютер, включаючи вашу IP-адресу, географічне розташування, тип і версію браузера, а також операційну систему;
інформація про ваші відвідування та використання цього сайту, включаючи джерело посилань, тривалість відвідування, перегляди сторінок та шляхи навігації по сайту;
інформація, така як вашу адресу електронної пошти, яку ви вводите при реєстрації на нашому сайті;
інформація, яку ви вводите при створенні профілю на нашому сайті, наприклад, ваше ім'я, фотографії профілю, стать, день народження, статус відносин, інтереси та хобі, відомості про освіту та зайнятість;
інформація, така як ваше ім'я та адреса електронної пошти, які ви вводите для налаштування підписки на наші електронні листи та/або розсилку;
інформація, яку ви вводите під час використання послуг на нашому сайті;
інформація, що генерується при використанні нашого сайту, в тому числі коли, як часто і за яких обставин ви його використовуєте;
інформація, що стосується всього, що ви купуєте, послуг, які ви використовуєте, або транзакцій, які ви робите через наш сайт, включаючи ваше ім'я, адресу, номер телефону, адресу електронної пошти та дані кредитної картки;
інформація, яку ви розміщуєте на нашому сайті з наміром опублікувати її в інтернеті, яка включає ваше ім'я користувача, фотографії профілю та зміст ваших повідомлень;
інформація, що міститься в будь-яких повідомленнях, які ви надсилаєте нам електронною поштою або через наш сайт, включаючи зміст та метадані;
будь-яка інша особиста інформація, яку ви надсилаєте нам.
Перш ніж розкривати нам особисту інформацію іншої особи, ви повинні отримати згоду цієї особи як на розкриття, так і на обробку цієї особистої інформації відповідно до цієї Політики.
С. Використання особистої інформації
Особиста інформація, надана нам через наш сайт, буде використовуватися для цілей, зазначених у цій політиці або на відповідних сторінках сайту. Ми можемо використовувати вашу особисту інформацію для наступних цілей:
адміністрування нашого сайту та бізнесу;
персоналізація нашого сайту для вас;
надання вам можливості користуватись послугами, доступними на нашому сайті;
надсилання вам товарів, придбаних через наш сайт;
постачання послуг, придбаних через наш сайт;
відправка вам виписок, рахунків та нагадування про оплату, а також збір платежів від вас;
надсилання вам неринкових комерційних повідомлень;
надсилання повідомлень електронною поштою, які ви спеціально запросили;
надсилання інформаційної розсилки електронною поштою, якщо ви дали на те свою згоду (ви можете відмовитися від розсилки у будь-який час);
відправка вам маркетингових повідомлень, що стосуються нашого бізнесу або бізнесу ретельно відібраних третіх осіб, які, на нашу думку, можуть представляти для вас інтерес, поштою або, якщо ви спеціально погодилися на це, електронною поштою або аналогічною технологією (ви можете повідомити нас у будь-який час, якщо вам більше не потрібні рекламні повідомлення);
надання третім особам статистичної інформації про наших користувачів (але ці треті особи не зможуть ідентифікувати будь-якого окремого користувача з цієї інформації);
робота із запитами та скаргами, зробленими вами або про вас, що стосуються нашого сайту;
забезпечення безпеки нашого сайту та запобігання шахрайству;
перевірка дотримання положень та умов, що регулюють використання нашого сайту (включаючи моніторинг особистих повідомлень, надісланих через наш сайт служби особистих повідомлень);
інших цілей.
Якщо ви надаєте особисту інформацію для публікації на нашому сайті, ми будемо публікувати та іншим чином використовувати цю інформацію відповідно до ліцензії, яку ви надаєте.
Налаштування конфіденційності можуть бути використані для обмеження публікації вашої інформації на нашому сайті та можуть бути скориговані за допомогою елементів керування конфіденційністю на сайті.
Ми не будемо, без вашої явної на те згоди, надавати вашу особисту інформацію будь-якій третій стороні для її чи будь-якого іншого стороннього прямого маркетингу.  
        </div>

    </div>

    <div class="col-4">
        <h3 style="font-style: normal;font-weight: 500;font-size: 30px;line-height: 30px;
            display: flex;align-items: center; color: #2C3447; text-align:center;justify-content: center;">
            Правила спільноти
        </h3>

        <div style="overflow: auto; height: 900px; font-weight: 400;font-size: 25px;
                line-height: 25px;text-align: justify;color: #2C3447; border-left: 2px solid rgba(128, 128, 128, 0.5); 
                padding-left: 5px;">
            Ми в Хека вважаємо людей головною цінністю. Ми ставимо людей на перше місце і робимо все можливе, щоб визнавати, цінувати та поважати культурну різноманітність наших учасників у всьому світі. Проект ХЕКА вітає внесок усіх учасників, які поділяють наші цілі та хочуть здоровим та конструктивним чином зробити свій внесок у спільну справу нашої спільноти. Внаслідок чого ми затвердили цей Кодекс етичних норм і вимагаємо, щоб усі учасники підтвердили свою згоду та дотримувалися цих принципів участі у співтоваристві. Це допоможе нам створити безпечні та позитивні для всіх принципи спілкування у спільноті.

Дані правила спрямовані на підтримку спільноти, в якій всі люди повинні почуватися в безпеці, брати участь, впроваджувати нові ідеї та надихати інших незалежно від:

своєї біографії,
сімейного статусу,
гендерної ідентичності,
статевої ідентичності або гендерного самовираження,
сімейного стану,
підлоги,
сексуальна орієнтація,
рідної мови,
віку,
фізичних можливостей,
расової чи етнічної приналежності,
касти,
національного походження,
соціально-економічного статусу,
віросповідання,
географічного розташування,
будь-якого іншого критерію індивідуальної ідентичності.
Основними принципами роботи є відкритість, співпраця та участь: від розробки на базі Firefox до спільної розробки навчального плану. Ми вважаємо різноманітність сильною стороною та активно прагнемо залучати до участі тих, хто посилює цей аспект. Ці правила існують для того, щоб дозволити різним людям та групам взаємодіяти та співпрацювати з метою взаємної вигоди. У цьому документі ми описуємо як очікувану, так і заборонену поведінку.
        </div>
    </div>
</div>


@*<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>
*@
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
